* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: "Roboto", sans-serif;

  /* Light Mode colors */
  --bg-light-color: #e5e5e5;
  --bg-light-button: #e1e1e6;
  --bg-light-button-activate: #02799d;

  --color-light-primary: #323238;
  --color-light-activate: invert(100%) sepia(95%) saturate(1%) hue-rotate(92deg) brightness(105%) contrast(100%);

  /* Dark Mode colors */
  --bg-dark-color: #121214;
  --bg-dark-button: #29292e;
  --bg-dark-button-activate: #0a3442;

  --color-dark-primary: invert(95%) sepia(5%) saturate(290%) hue-rotate(202deg) brightness(84%) contrast(90%);
  --color-dark-activate: invert(99%) sepia(30%) saturate(0%) hue-rotate(277deg) brightness(111%) contrast(101%);
}

body {
  display: flex;
  height: 100vh;

  margin: 0 auto;

  background-color: var(--bg-light-colorcolor);
  font-family: var(--ff-primary);

  transition: all 0.5s;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  gap: 19.2rem;
}

button {
  border: none;
  cursor: pointer;

  background-color: transparent;
}

.hide {
  display: none;
}

.light-mode,
.dark-mode {
  place-self: start;
  margin: 5rem;
}

.light-mode {
  animation: spin 4s;
}

.dark-mode {
  animation: turnaround 2s forwards;
}

.timer-container {
  display: grid;
  place-items: center;
  gap: 3rem;

  width: 32.1rem;
}

.timer {
  display: flex;
  font-size: 12.6rem;
  font-weight: 500;

  color: var(--color-light-primary);

  transition: all 0.5s;
}

.controls {
  display: flex;
  gap: 4rem;
}

.controls button {
  transition: all 200ms;
}

.controls button:hover {
  opacity: 0.5;
}

.card-icon-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.2rem;
}

.card-icon-container button {
  background-color: var(--bg-light-button);
  border-radius: 2.4rem;

  display: grid;
  place-items: center;
  gap: 3.5rem;
  padding: 2.9rem 2.4rem;

  transition: all 0.5s;
}

.card-icon-container button:hover,
.card-icon-container button.selected {
  background-color: var(--bg-light-button-activate);
}

.card-icon-container button img {
  transition: all 200ms;
}

.card-icon-container button.selected img,
.card-icon-container button:hover img {
  filter: var(--color-light-activate);
}

.card-icon-container input[type="range"] {
  width: 9rem;
  height: 4px;

  appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-light-primary);
  border-radius: 5px;

  transition: all 0.5s;
}

.card-icon-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 1.6rem;
  height: 1.6rem;
  border-radius: 10rem;
  background-color: var(--color-light-primary);

  transition: all 0.5s;
}

.card-icon-container button:hover input[type="range"],
.card-icon-container button:hover input[type="range"]::-webkit-slider-thumb,
.card-icon-container button.selected input[type="range"],
.card-icon-container button.selected input[type="range"]::-webkit-slider-thumb {
  background-color: #fff;
}

/* DARK MODE */

body.dark {
  background-color: var(--bg-dark-color);
}

.timer.dark {
  color: #fff;
}

.controls.dark {
  filter: var(--color-dark-primary);
}

.card-icon-container.dark button {
  background-color: var(--bg-dark-button);
}

.card-icon-container.dark button:hover,
.card-icon-container.dark button.selected {
  background-color: var(--bg-dark-button-activate);
}

.card-icon-container.dark button img {
  filter: var(--color-dark-primary);
}

.card-icon-container.dark button.selected img,
.card-icon-container.dark button:hover img {
  filter: var(--color-dark-activate);
}

.card-icon-container.dark input[type="range"],
.card-icon-container.dark input[type="range"]::-webkit-slider-thumb {
  background-color: #fff;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
    align-items: center;
    width: fit-content;

    padding: 1rem;
  }

  main {
    display: grid;
    gap: 5rem;

    padding: 2rem 0;
  }

  .light-mode,
  .dark-mode {
    place-self: center;
    margin: 2rem 0 0 0;

    order: -1;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;

    width: fit-content;
  }

  main {
    display: grid;
    gap: 5rem;

    padding: 2rem 0;
  }

  .light-mode,
  .dark-mode {
    place-self: center;
    margin: 2rem 0 0 0;

    order: -1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes turnaround {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(180deg);
  }
}
